body {
  font-family: 'Roboto', sans-serif;
  padding: 16px;
  margin: 0;
  background-color: #fff; 
  color: #333; 
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.homepage-container {
  display: flex;
  flex-direction: column;
}

.dropdown-container {
  display: inline-block;
  margin-bottom: 10px; 
}

.article-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9; 
}

.article-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.article-card img {
  max-width: 100%;
  border-radius: 10px;
}

.article-card h3 {
  margin-top: 0;
}

.article-card p {
  margin: 4px 0;
}

.article-card a {
  text-decoration: none; 
  color: inherit; 
}

.article-card a:visited {
  color: inherit;
}

.article-card a:hover,
.article-card a:active {
  color: inherit; 
}

.header {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-color: #8B0000;
  color: #FFFFFF; 
  padding: 10px 20px;
  position: relative;
}

.logo {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem; 
}

.nav-link {
  color: #FFFFFF; 
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease; 
}

.nav-link:hover,
.nav-link:active {
  background-color: #6B0000;
  border-radius: 4px;
}

.user-info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px 12px;
  background-color: #5C0000;
  border: 2px solid #8B0000;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.user-info:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.user-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #FFFFFF; 
}

.user-profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.login-button {
  background: linear-gradient(135deg, #a02b2a, #8B0000);
  color: #fff;
  border: 1px solid #8B0000;
  padding: 10px 20px;
  border-radius: 25px; 
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-button:hover, 
.user-button:hover {
  opacity: 0.8;
}

.button {
  display: inline-block;
  background-color: #8B0000; 
  color: #FFFFFF; 
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  margin: 5px; 
}

.button:hover {
  background-color: #6B0000;
}

.user-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: box-shadow 0.3s ease-in-out;
  width: 500px; 
  height: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.user-card h3 {
  margin-top: 0;
}

.user-card p {
  margin: 4px 0;
}

.user-card img {
  max-width: 55%;
  border-radius: 10px;
}
