body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.homepage-container {
  display: flex;
  flex-direction: column;
 
}

.dropdown-container {
  display: inline-block;
  margin-bottom: 10px; 
}

.article-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9; 
}

.article-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.article-card img {
  max-width: 100%;
  border-radius: 10px;
}

.article-card h3 {
  margin-top: 0;
}

.article-card p {
  margin: 4px 0;
}

.article-card a {
  text-decoration: none; 
  color: inherit; 
}

.article-card a:visited {
  color: inherit;
}

.article-card a:hover,
.article-card a:active {
  color: inherit; 
}


body {
  padding: 16px;
  margin: 0;
  background-color: #fff; 
  color: #333; 
}

.header {
  background-color: #8B0000;
  color: #FFFFFF; 
  text-align: center;
  padding: 10px 0;
}

.logo {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.user-logged {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
}

.nav-link {
  color: #FFFFFF; 
  padding: 10px; 
  transition: background-color 0.3s ease; 
}

.nav-link:hover,
.nav-link:active {
    background-color: #CCCCCC;
}

.button {
  display: inline-block;
  background-color: #8B0000; 
  color: #FFFFFF; 
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  margin: 5px; 
}

.button:hover {
  background-color: #6B0000;
}


.user-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: box-shadow 0.3s ease-in-out;
  width: 500px; 
  height: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.user-card h3 {
  margin-top: 0;
}

.user-card p {
  margin: 4px 0;
}

.user-card img {
  max-width: 100%;
  border-radius: 10px;
}

.user-card h3 {
  margin-top: 0;
}

.user-card p {
  margin: 4px 0;
}

.user-card img {
  max-width: 55%;
  border-radius: 10px;
}
